.header {
  padding: 50px 0 80px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-body-background);
  z-index: 10;
}

.navigaton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  font-family: var(--font-montserrat);
  font-weight: bold;
}

.navigation-logo {
  font-family: var(--font-golden);
  font-size: 34px;
  line-height: 34px;
  text-decoration: none;
  color: var(--color-navigation-menu-item-hovered);
}

.navigation-menu {
  font-family: var(--font-montserrat);
  font-size: 18px;
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-width: 480px;
  justify-content: space-between;
}

.navigation-menu-item-link {
  display: block;
  text-decoration: none;
  color: var(--color-navigation-menu-item);
}

.navigation-menu-item a:hover,
.navigation-menu-item a:focus {
  color: var(--color-navigation-menu-item-hovered);
}
