.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  border-top: 1px solid var(--color-social-icon-hovered);
  margin: 0 auto;
  padding: 10px 0;
}

.footer-content {
  font-family: var(--font-montserrat);
  font-size: 14px;
}

.footer-content-highlighted {
  color: var(--color-social-icon);
}

.input-block {
  display: flex;
  justify-content: flex-end;
  max-height: 40px;
  width: 380px;
}

.input-field {
  width: 230px;
}

.input-button {
  border: none;
  background: var(--color-social-icon-hovered);
  color: #fff;
  width: 150px;
  cursor: pointer;
}
