.main {
  display: flex;
  flex-direction: column;
  padding: 110px 0 0 0;
}
.section-services,
.section-team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section-pre-title {
  margin: 0;
  padding: 0 0 25px 0;
  font-family: var(--font-kaushan);
  font-size: 24px;
}

.section-title {
  margin: 0;
  padding: 0 0 25px 0;
  font-family: var(--font-montserrat);
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  display: block;
  margin: 25px auto 65px;
  background-color: var(--color-social-icon);
  width: 60px;
  height: 8px;
}


.section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

/* SERVICES */

/* .section-services {
  width: 1150px;
} */

.services-list-item {
  display: flex;
  flex: 0 0 340px;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.services-list-item-header {
  flex: 0 0 270px;
  min-height: 30px;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-content-title);
}

.services-list-item-paragraph {
  flex: 0 0 270px;
  margin: 0;
  font-size: 15px;
  color: var(--color-content-text);
}

.icon-alarm {
  background: url("../img/icon-1-alarm.png");
  background-repeat: no-repeat;
}

.icon-linegraph {
  background: url("../img/icon-2-line-graph.png") no-repeat;
}

.icon-computer {
  background: url("../img/icon-3-computer.png") no-repeat;
}

.icon-book {
  background: url("../img/icon-4-book.png") no-repeat;
}

.icon-home {
  background: url("../img/icon-5-home.png") no-repeat;
}

.icon-image {
  background: url("../img/icon-6-image.png") no-repeat;
}

/* TEAM */

.team-paragraph {
  max-width: 940px;
  margin: 0 0 90px 0;
  font-size: 15px;
  color: var(--color-content-text);
}

.team-list-item {
  display: flex;
  flex: 0 0 383px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  position: relative;
  max-width: 100%;
}

.team-list-item-link {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.team-list-item-link:hover .overlay {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0;
  background: linear-gradient(
    to bottom,
    var(--color-team-pic-gradient-from),
    var(--color-team-pic-gradient-to)
  );
  opacity: 1;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  box-shadow: 9px 9px 3px var(--color-social-icon-hovered);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.team-list-item-title {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.team-list-item-description {
  font-family: var(--font-roboto);
  font-weight: 100;
  font-style: italic;
}

/* BUTTONS */
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 0 0 224px;
  height: 56px;
}

.action {
  flex: 0 0 56px;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.action-button {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-social-icon);
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-navigation-menu-item-hovered);
}

.action-button:hover {
  background-color: var(--color-social-icon-hovered);
}

.icon-facebook {
  background-image: url("../img/icon-01-facebook.png");
}

.icon-twitter {
  background-image: url("../img/icon-02-twitter.png");
}

.icon-pinterest {
  background-image: url("../img/icon-03-pinterest.png");
}

.icon-instagram {
  background-image: url("../img/icon-04-instagram.png");
}
