.blogs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blogs-item {
  float: left;
  width: 350px;
  margin: 0;
  padding: 0;
}

.blogs-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.blog-link {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(120, 120, 120, 1);
  line-height: 20px;
  font-size: 16px;
}

.blog-link::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-bottom: 24px;
  width: 140px;
  height: 3px;
  background: rgba(26, 188, 156, 1);
}

.blog-announce {
  font-size: 12px;
  color: rgba(80, 80, 80, 255);
}

.blog-readmore {
  border: none;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  background: rgba(80, 200, 170, 1);
  text-transform: capitalize;
}

.blog-readmore:hover {
  cursor: pointer;
}
